li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    background: rgb(255, 255, 255) url("images/gory.jpg") no-repeat;
    font-size: 30px;
    text-align: center;
    margin: 250px;
    color: rgb(255, 255, 255);
}